<div class="card card-info card-outline mb-4">
  <!--begin::Header-->
  <div class="card-header">
    <div class="card-title">Funcionários</div>
  </div>

  <!--end::Header-->
  <!--begin::Form-->
  <form class="needs-validation" action="/admin/funcionarios/create" method="post">
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Row-->
      <div class="row g-3">
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="validationCustom01" class="form-label">Nome</label>
          <input type="text" class="form-control" id="nome_funcionario" name="nome_funcionario" required />
          <div class="invalid-feedback">Informe o seu Nome!</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="nrphone" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="nrphone" name="nrphone" data-inputmask='"mask": "(99) 99999-9999"'
            data-mask required />
          <div class="invalid-feedback">Informe seu Telefone!</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="validationCustomUsername" class="form-label">E-mail</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="inputGroupPrepend"
              required />
            <div class="invalid-feedback">Informe seu E-mail.</div>
          </div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="cpf" class="form-label">CPF</label>
          <input type="text" class="form-control" id="cpf" name="cpf" data-inputmask='"mask": "999.999.999-99"'
            data-mask required />
          <div class="invalid-feedback">Informe seu CPF.</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-md-6">
          <label for="validationCustom05" class="form-label">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha" required />
          <div class="invalid-feedback">Informe sua Senha.</div>
        </div>
        <div class="col-md-6">
          <label for="perfil">Perfil de Acesso</label>
          <select name="perfil" id="perfil" class="form-control" required>
            <option value="">Selecione o perfil</option>
            <option value="ADMIN">Administrador</option>
            <option value="SUPERVISOR">Supervisor</option>
            <option value="ASSESSOR">Assessor</option>
          </select>
        </div>
      </div>
      <!--end::Row-->
    </div>
    <!--end::Body-->
    <!--begin::Footer-->


    <div class="card-footer">
      <button class="btn btn-info" type="submit">Salvar</button>
    </div>

    <!--end::Footer-->
  </form>
  <!--end::Form-->
  <!--begin::JavaScript-->


</div>
<!--end::Form Validation-->

<!-- Inputmask JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/jquery.inputmask.bundle.min.js"></script>

<script>
  $(document).ready(function () {
    $("[data-mask]").inputmask(); // Aplica em todos os inputs com data-mask
  });

  // Bootstrap validation
  (() => {
    'use strict';
    const forms = document.querySelectorAll('.needs-validation');
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        'submit',
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        },
        false,
      );
    });
  })();
</script>