<div class="card card-info card-outline mb-4">
  <div class="card-header">
    <h3 class="card-title">EDITAR PASSAGEIRO</h3>
  </div>



  <form id="form" method="post" action="/admin/passageiros/{$passageiros.id_passageiros}" novalidate>
    <div class="card-body">
      <div class="card card-info card-outline mb-4">
        <div class="card-header">
          <h3 class="card-title">EDITAR PASSAGEIRO</h3>
        </div>

        <form id="form" class="needs-validation" method="post" action="/admin/passageiros/{$passageiros.id_passageiros}"
          novalidate>
          <div class="card-body">

            <input type="hidden" name="id_passageiros" value="{$passageiros.id_passageiros}" />
            <input type="hidden" name="orcamento_id" value="{$passageiros.orcamento_id}" />

            <div class="mb-3">
              <label for="nome_passageiros" class="form-label">Nome</label>
              <input type="text" id="nome_passageiros" name="nome_passageiros" class="form-control" required
                value="{$passageiros.nome_passageiros}" />
            </div>

            <div class="mb-3">
              <label for="telefone" class="form-label">Telefone</label>
              <input type="tel" id="telefone" name="telefone" class="form-control" required
                value="{$passageiros.telefone}" />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" required value="{$passageiros.email}" />
            </div>

            <div id="errorDiv" class="alert alert-danger d-none" role="alert"></div>

            <button type="submit" class="btn btn-primary">Atualizar</button>
          </div>
        </form>
      </div>
    </div>
  </form>
</div>