<div class="card mb-4">
  <div class="card-header d-flex justify-content-center">
    <h3 class="card-title mb-0">PASSAGEIROS</h3>
   
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 10px">#</th>
          <th>Nome</th>
          <th style="width: 300px">&nbsp; Ações</th>
        </tr>
      </thead>
      <tbody>
        {loop="$passageiros"}
        <tr>
          <td>{$value.id_passageiros}</td>
          <td>{$value.nome_passageiros}</td>
          <td>
            <a href="/admin/passageiros/{$value.id_passageiros}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>
              Editar</a>
            <a href="/admin/passageiros/{$value.id_passageiros}/delete"
              onclick="return confirm('Deseja realmente excluir este registro?')" class="btn btn-danger btn-xs"><i
                class="fa fa-trash"></i> Excluir</a>
          </td>
        </tr>
        {/loop}
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <a href="/admin/passageiros/create" class="btn btn-sm btn-primary float-start">
      NOVO CADASTRO
    </a>

  </div>
</div>